.button_btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(to bottom, #2f2f50, #1e1e2f 80%, #131320);
}
.button_btn:hover {
  background: #387bb6;
}
.button_btn--red-hover:hover {
  background-color: #ff6f61;
  color: rgb(16, 14, 26);
}
@media (max-width: 950px) {
  .button_btn {
    font-size: 10px;
  }
}
