.management__container {
  font-family: "Arial", sans-serif;

  padding: 16px;
}
.management__blockinfo {
  max-width: 1200px;
  margin: 0 auto;
}
.management__card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

.management__image-wrapper {
  flex-shrink: 0;
}
.management__card-blockimage {
  width: 180px;
  height: 180px;
}
.management__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
}

.management__info {
  flex: 1;
}

.management__title {
  font-size: 1.8rem;
  margin: 0 0 8px;
  color: #333;
}

.management__role {
  font-size: 1.1rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 12px;
  margin-top: 12px;
}

.management__desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}
@media (max-width: 465px) {
  .management__image {
    max-width: 150px;
    max-height: 150px;
  }
  .management__card {
    flex-direction: column;
  }
  .management__image-wrapper {
    align-self: center;
  }
  .management__title {
    font-size: 22px;
  }
}
