.Users-manager-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.Users-manager-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.Users-table-wrapper {
  overflow-x: auto;
}

.Users-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.Users-table th,
.Users-table td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.actions-header {
  text-align: center;
  width: 160px;
}

.Users-actions {
  text-align: center;
  vertical-align: middle;
}

.actions-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
}
@media (max-width: 1130px) {
  .actions-header {
    min-width: 80px;
  }
  .Users-table {
    min-width: 0;
  }
  .Users-table th {
    padding: 12px 5px;
    font-size: 12px;
    text-align: center;
  }
  .Users-table td {
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 950px) {
  .Users-table {
    min-width: 0;
  }
  .Users-table th {
    padding: 12px 5px;
    font-size: 10px;
    text-align: center;
  }
  .actions-header {
    min-width: 87px;
  }
  .Users-table td {
    padding: 12px 5px;
  }
}
